:root {
    /* Color principal */
    --color-primary: #1a1008;

    /* Color de acento */
    --color-secondary: #c9933a;

    /* Texto principal */
    --color-text: #e8dcc8;

    /* Texto secundario */
    --color-text-dim: #8a7a62;

    /* Fondo general de la página */
    --color-bg: #120d06;

    /* Fondo de las tarjetas / contenedores */
    --color-card: #231a0e;

    /* Color de borde sutil */
    --color-border: #3d2e18;

    /* Color para hover en links */
    --color-link-hover: #f0b855;


}